# dependencies
node_modules/

# next build
.next
out

# env
.env.local

# logs
*.log

# runtime generated state ONLY
runtime/workspaces/
runtime/projects/
runtime/jobs/
runtime/global-lock.ts

# mac
.DS_Store
